.vscode
*.devcontainer
*.projbuild
**sdkconfig**
*.lock
*.yml
.venv/
**.bak
patrole/node_modules/
build/
managed_components/
__pycache__
.imgs/

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
#.env*.local

# typescript
*.tsbuildinfo
tests/firebase-tests/cloud_server_credentials.json
firmware/esp32/debug.log
